@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic', sans-serif;
}
html {
	/* The image used */
	background-image: url("assets/background_1.png");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-attachment : fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 50px;
}
.loginform {
	width: 340px;
	height: 300px;
	background: rgba(153,153,153,0.75);
	border: 1px solid #979797;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 3px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}
.idinput {
	padding-left: 10px;
	background: #FFFFFF;
	border: 1px solid #979797;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	border-radius: 3px;
	display: block;
	width: 300px;
	height: 36px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 9999;
}
.pwinput {
	padding-left: 10px;
	background: #FFFFFF;
	border: 1px solid #979797;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	border-radius: 3px;
	display: block;
	width: 300px;
	height: 36px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 9999;
}
.loginsubmit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	z-index: 9999;
}
.option {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	z-index: 9999;
}
.snslogin {
	width: 340px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	z-index: 9999;
}
